<!DOCTYPE html>
<html>
<head>
    <title>Found Children</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/list.css') }}">
</head>
<body>

<div class="page-header">
    <h1>📍 Found Children</h1>
    <a href="/dashboard" class="back-btn">⬅ Back to Dashboard</a>
</div>
    

<div class="list-page">
    <h2>📍 Found Children</h2>

    {% for child in data %}
    <div class="list-card">

        <!-- CHILD PHOTO -->
        <img
          src="{{ url_for('static', filename='uploads/found/' ~ child.image) }}"
          class="avatar-img"
        >

        <!-- INFO -->
        <div class="info">
            <strong>{{ child.name or "Unknown Child" }}</strong>
            <small>{{ child.location }}</small>
        </div>

        <!-- STATUS -->
        <span class="status active">Active</span>
    </div>
    {% else %}
        <p>No found children yet</p>
    {% endfor %}
</div>

</body>
</html>