<!DOCTYPE html>
<html>
<head>
    <title>Missing Children</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/list.css') }}">
</head>
<body>


<div class="page-header">
    <h1>🧒 Missing Children</h1>
    <a href="/dashboard" class="back-btn">⬅ Back to Dashboard</a>
</div>


<div class="list-page">
    <h2>🧒 Missing Children</h2>

    {% for child in children %}
    <div class="list-card">

       
        <img
          src="{{ url_for('static', filename='uploads/lost/' ~ child.image) }}"
          class="avatar-img"
        >

       
        <div class="info">
            <strong>{{ child.name }} ({{ child.age }} yrs)</strong>
            <small>{{ child.location }}</small>
        </div>

      
        <span class="status pending">Pending</span>
    </div>
    {% else %}
        <p>No missing children found</p>
    {% endfor %}
</div>

</body>
</html>
